@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1508387029539-60e5edc8a9b2?auto=format&fit=crop&w=1920&q=80') no-repeat center center;
  background-size: cover;
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
  margin: 20px 0;
}

.main-logo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}


